body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background: #90afdf; */
}

.section {
  padding: 60px 20px;
  text-align: center;
  color: white;
}

h2 {
  margin-bottom: 20px;
}

.custom-dialog .mat-mdc-dialog-container {
  border-radius: 16px;
  padding: 0;
  overflow: hidden;
}
